* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Cinzel Decorative', sans-serif;
  background-color: #6867ac;
  height: 100vh;
  background: url('magical.jpg') no-repeat center
    center fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 0.31fr 0.5fr;
  align-items: center;
  margin-left: 4rem;
}

/* End of General Styles */

/* Task Form Styles */

.grid {
  font-family: 'Bellota', cursive;
  display: grid;
  grid-template-rows: 20/100fr 70/100fr 10/100fr;
  grid-template-columns: 1fr;
  border: 2px solid #a267ac;
  border-radius: 0.5rem;
  row-gap: 4rem;
  opacity: 0.75;
  animation-name: borderColorPalette;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes borderColorPalette {
  0% {
    border: 2px solid #7c83fd;
  }
  33% {
    border: 2px solid #96baff;
  }
  66% {
    border: 2px solid #7dedff;
  }
  100% {
    border: 2px solid #88fff7;
  }
}

.title {
  font-family: 'Cinzel Decorative', cursive;
  background-size: cover;
  font-size: 4.4rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem;
  color: #f0d9ff;
  position: relative;
}

.title::before {
  content: '';
  width: 50%;
  height: 4px;
  background-color: #bfa2db;
  position: absolute;
  border-radius: 0.3rem;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  animation-name: backgroundColorPalette;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes backgroundColorPalette {
  0% {
    background: #7c83fd;
  }
  33% {
    background: #96baff;
  }
  66% {
    background: #7dedff;
  }
  100% {
    background: #88fff7;
  }
}

.adding-task {
  background-color: #6f69ac;
  font-family: 'Bellota', cursive;
  font-size: 2rem;
  margin: 0 auto -3rem auto;
  text-align: center;
  width: 90%;
  border-radius: 0.5rem;
  color: #f3f1f5;
  /* fixes issue where user could not type into input textbox 
  https://stackoverflow.com/questions/54834898/cannot-type-in-input-text-field
  */
  z-index: 1000;
}

.adding-task-title {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 2rem 0;
}

.magical-wand-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 0.8rem;
}

.display-tasks,
.display-tasks.active {
  margin: 0 auto;
  width: 80%;
  background-color: #cddeff;
  border-radius: 0.5rem;
  overflow-x: hidden;
}

.display-tasks.active {
  height: 150px;
}

span.confetti-icon {
  margin-left: 0.8rem;
}

.tasks {
  list-style-type: none;
  margin-top: 1rem;
}

.tasks li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #79018c;
}

.right-arrow-span {
  height: 2.4rem;
  width: 2.4rem;
  background-color: #fff9f9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

.arrow-icon {
  width: 2.4rem;
  height: 2.4rem;
}

span.task-title {
  margin-right: 0.8rem;
}

span.task-time {
  margin-right: 0.2rem;
}

span.task-date {
  margin-left: 0.5rem;
}

span.am-pm {
  font-size: 1.83rem;
}

input.task-hours,
input.task-minutes {
  width: 10%;
}

.delete-span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  height: 3rem;
  width: 3rem;
  background-color: #6e3cbc;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s;
}

.delete-task-icon {
  width: 2.4rem;
  height: 2.4rem;
  transition: all 0.8s;
}

.delete-span:hover {
  transform: scale(1.05);
}

.delete-task-icon:hover {
  transform: rotate(350deg);
}

.task-form-container {
  width: 95%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.task-title-user-input,
.task-time-user-input,
.task-date-user-input {
  width: 45rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title-user-input input {
  width: 75%;
}

input.task-hours,
input.task-minutes {
  width: 7.5rem;
}

.day,
.month,
.year {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 12rem;
}

.select-day,
.select-month,
.select-year {
  width: 100%;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.btn {
  margin: 2rem 0 3rem 0;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #3c5186;
  background-image: linear-gradient(
    to right,
    #96baff 0%,
    #7dedff 51%,
    #96baff 100%
  );
  background-size: 200% auto;
  transition: all 0.7s;
}

.btn-clear {
  font-size: 0.8rem;
  word-break: break-word;
  width: 6rem;
  height: 6rem;
  border: none;
  border-radius: 50%;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  color: #fff;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #b762c1 0%,
    #ea99d5 51%,
    #b762c1 100%
  );
  background-size: 200% auto;
  transition: all 0.7s;
  position: relative;
}

.btn-clear::before {
  content: 'OPEN & CLICK';
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    #d77fa1 0%,
    #baabda 51%,
    #d77fa1 100%
  );
  background-size: 200% auto;
  transform-origin: left center;
  transition: all 0.7s;
}

.btn-clear:hover::before {
  transform: rotateY(100deg);
  opacity: 0.6;
}

.btn:hover {
  background-position: right center;
}

.btn:active,
.btn-clear:active {
  background-position: right center;
  transform: scale(0.95);
}

/* End of Task Form Styles */

/* Logging Section */

.logs {
  background-color: #fbcaff;
  width: 30%;
  height: 120px;
  margin: 2rem 5%;
  border-radius: 0.5rem;
  list-style-type: circle;
  padding: 0.5rem;
  position: relative;
  overflow-x: hidden;
}

.logs li {
  margin: 1rem 0 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #03045e;
}

/* End of Logging Section */
